.content{
    display: grid;
    margin-top: 10vh;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 50% 50%;
}

.current-weather{
    background-color: #2d6dcc50;
    width:100%;
    height: 500px;
    display: grid;
    grid-template-rows: 50px, 450px;
}