.content {
    display: grid;
    margin-top: 10vh;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    grid-template-rows: 75vh 50px;
}

.content button {
    border-style: none;
    background-color: #2d6dcc;
    color: #fff;
    transition-duration: 0.25s;
    border-radius: 4px;
    height: 36px;
    font-size: 20px;
    line-height: 30px;
}

.content button:hover {
    background-color: #2d6dcc75;
    cursor: pointer;
}

.installation-container {
    width:100%;
    height:100%-20px;
    margin-bottom: 20px;
    text-align: center;
    display: grid;
    border-radius: 4px;
    grid-template-rows: 50px auto;
}

.installation-title{
    background-color: #2d6dcc75;
    color: #fff;
    width: 100%;
    height: 100%;
    margin-top:0px;
    line-height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.installation-buttons, .add-installation-buttons {
    width:100%;
    text-align: right;
}

#installation-table-container{
    overflow: auto;
    max-height: 70vh;
}

.installation-table {
    border-collapse: collapse;
    width:100%;
    text-align: left;
}

.installation-table th {
    background-color: #2d6dcc75;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    font-size: 20px;
}

.installation-table td { 
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.installation-table tr {
    transition-duration: 0.25s;
    font-size: 18px;
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

.installation-table tr:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.installation-table tr td:last-child, .installation-table tr th:last-child {
    text-align: center;
}

.installation-table tr:nth-child(odd):not(.installation-table tr:first-child){
    background-color: #2d6dcc30;
}

.installation-table tr:hover:not(.installation-table tr:first-child) {
    background-color: #2d6dcc75;
    cursor: pointer;
    color: #fff;
}

.expanded-installation {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 30px 30px 50px 50px auto;
    margin-top: 40px;
    width: min(600px, 100%);
}

.expanded-installation div{
    font-size: 18px;
}

.expanded-installation h3 {
    background-color: #2d6dcc75;
    color: #fff;
    width: 100%;
    height: 100%;
    margin-top:0px;
    line-height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.installation-actions {
    max-height: 70vh;
    overflow: auto;
}

.action-info:nth-child(even), .add-action-info:nth-child(even){
    background-color: #2d6dcc30;
}

.action-info {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
}

#back-button {
    justify-self: right;
    width: min(75px, 100%);
}

.add-actions-title {
    display:grid;
    grid-template-columns: 50% 50%;
    background-color: #2d6dcc75;
    color: #fff;
    width: 100%;
    margin-top:10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.add-action-info {
    display:grid;
    text-align: left;
    grid-template-columns: 34% 33% 33%;
}
