.content{
    display: grid;
    justify-content: center;
    margin-top: 20%;
    text-align: center;
    grid-template-rows: 50px auto;
    grid-row-gap: 20px;
}

form{
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-row-gap: 10px;
}

#login-button{
    justify-self: center;
    border-radius: 5px;
    width: min(400px, 90%);
}

#username #password{
    width: min(400px, 100%);
}