.content{
    display: grid;
    margin-top: 20vh;
    grid-template-rows: 50px 300px;
    grid-row-gap: 20px;
    text-align: center;
}

form{
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-row-gap: 10px;
    width: 100%;
}

#login-button{
    justify-self: center;
    border-radius: 5px;
    width: 90%;
}

#username #password{
}