.content{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 50px 150px;
    grid-template-columns: 60%;
}

form{
    display: grid;
    grid-template-rows: 50px 50px 50px;
}

#login-button{
    width: max(75px, 25%);
}