.content {
    display: grid;
    margin-top: 10vh;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.content button {
    border-style: none;
    background-color: #2d6dcc;
    color: #fff;
    transition-duration: 0.25s;
    border-radius: 4px;
    height: 36px;
    font-size: 20px;
    line-height: 30px;
}

.content button:hover {
    background-color: #2d6dcc75;
    cursor: pointer;
}

#search-container {
    display: grid;
    grid-template-columns: 20% 30%;
    grid-column-gap: 20px;
    justify-content: center;
}

#search-bar-container {
    width: 100%;
    position: relative;
    height: 34px;
    text-align: left;
}

#search-bar-container button {
    background-color: transparent;
    display: inline-block;
}

#search-bar {
    width: 100%;
    height: 100%;
    border-radius: 4px;              
    padding-left: 5px;
    border-style: none;
    background-color: #2d6dcc30;
    font-size: 18px;
}

#search-icon {
    display: inline-block;
    position:absolute;
    right: 10px;
    top: 9px;
    color: #849ec4;
    font-size: 20px;
    transition-duration: 0.25s;
}
#search-icon:hover {
    color: #2d6dcc;
    cursor: pointer;
}

#management-content {
    margin-top: 20px;
}

.user-table {
    border-collapse: collapse;
    width:100%;
    text-align: left;
    border-radius: 4px;
}

.user-table th {
    background-color: #2d6dcc75;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    font-size: 20px;
}

.user-table td { 
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.user-table tr {
    transition-duration: 0.25s;
    font-size: 18px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.user-table tr td:last-child, .user-table tr th:last-child {
    text-align: center;
}

.user-table tr:nth-child(odd):not(.user-table tr:first-child){
    background-color: #2d6dcc30;
}

.user-table tr:hover:not(.user-table tr:first-child) {
    background-color: #2d6dcc75;
    cursor: pointer;
    color: #fff;
}