.content {
    display: grid;
    margin-top: 10vh;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    grid-template-rows: 75vh 50px;
}

.content button {
    border-style: none;
    background-color: #2d6dcc;
    color: #fff;
    transition-duration: 0.25s;
    border-radius: 4px;
    height: 36px;
    font-size: 20px;
    line-height: 30px;
}

.content button:hover {
    background-color: #2d6dcc75;
    cursor: pointer;
}

.reports-container {
    display: grid;
    grid-template-rows: 50px 75vh;
}